<div class="container-fluid">
    <!-- Page Heading -->

    <div class="card border-left-primary" data-aos="fade-up">
        <div class="card-header">
            <h1 class=" h3 text-gray-800">Tambah Data</h1>
        </div>
        <div class="card-body">
            <form action="/admin/data" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <label for="tanggal">Tanggal</label>
                        <input
                            type="date"
                            class="form-control"
                            name="tanggal"
                            id="tanggal"
                        />
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="">Nama</label>
                        <input
                            type="text"
                            class="form-control"
                            name="nama"
                            id="nama"
                            placeholder="Nama"
                        />
                    </div>
                    <div class="col">
                        <label for="usia">Usia</label>
                        <input
                            type="number"
                            class="form-control"
                            name="usia"
                            id="usia"
                            placeholder="Usia"
                        />
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="jk">Jenis Kelamin</label>
                        <select class="custom-select" name="jk" id="jk">
                            <option selected>Jenis kelamin</option>
                            <option value="Pria">Pria</option>
                            <option value="Wanita">Wanita</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="akses">Akses Screening</label>
                        <input
                            type="text"
                            class="form-control"
                            name="akses"
                            id="akses"
                            placeholder="Wa"
                        />
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="asal">Asal RS</label>
                        <input
                            type="text"
                            class="form-control"
                            name="asal"
                            id="asal"
                            placeholder="Asal RS"
                        />
                    </div>
                    <div class="col">
                        <label for="dokter">Dokter Perujuk</label>
                        <input
                            type="text"
                            class="form-control"
                            name="dokter"
                            id="dokter"
                            placeholder="Dokter Perujuk"
                        />
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="rujuk">Alasan Dirujuk</label>
                        <input
                            type="text"
                            class="form-control"
                            name="rujuk"
                            id="rujuk"
                            placeholder="Alasan dirujuk"
                        />
                    </div>
                    <div class="col">
                        <label for="news">News/Pews</label>
                        <input
                            type="number"
                            class="form-control"
                            name="news"
                            id="news"
                            placeholder="News/Pews"
                        />
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="kebutuhan">Kebutuhan Dirujuk</label>
                        <input
                            type="text"
                            class="form-control"
                            name="kebutuhan"
                            id="kebutuhan"
                            placeholder="Kebutuhan Dirujuk"
                        />
                    </div>
                    <div class="col">
                        <label for="prioritas">Prioritas</label>
                        <input
                            type="text"
                            class="form-control"
                            name="prioritas"
                            id="prioritas"
                            placeholder="Prioritas"
                        />
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="status">Konsul Ke</label>
                        <select class="custom-select" name="knsl" id="knsl">
                            <option selected>Konsul Ke</option>
                            <% dokter.map((data,i) => { %>
                            <option value="<%= data.nama %>"
                                ><%= data.nama %></option
                            >
                            <% }) %>
                        </select>
                    </div>
                    <div class="col">
                        <label for="satgas"
                            >Advisi Dokter Konsulan Satgas</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            name="satgas"
                            id="satgas"
                            placeholder="Advisi Dokter Konsulan Satgas"
                        />
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="file">File Konfirm</label>
                        <input
                            type="file"
                            class="form-control"
                            name="file"
                            id="file"
                            placeholder="File Konfirm"
                        />
                    </div>
                    <div class="col">
                        <label for="status">Status Rujukan</label>
                        <select class="custom-select" name="status" id="status">
                            <option selected>Status Rujukan</option>
                            <option value="Diterima">Diterima</option>
                            <option value="Dialihkan">Dialihkan</option>
                            <option value="Ditunda">Ditunda</option>
                        </select>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="dpjp">Advisi Dokter Konsulan DPJP</label>
                        <input
                            type="text"
                            class="form-control"
                            name="dpjp"
                            id="dpjp"
                            placeholder="Advisi Dokter Konsulan DPJP"
                        />
                    </div>
                    <div class="col">
                        <label for="klkpn"
                            >Timing Kelengkapan berkas Berkas</label
                        >
                        <input
                            type="time"
                            class="form-control"
                            name="klkpn"
                            id="klkpn"
                            placeholder="Kelengkapan berkas"
                        />
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="timingMasuk">Timing Masuk</label>
                        <input
                            type="time"
                            class="form-control"
                            name="timingMasuk"
                            id="timingMasuk"
                            placeholder="Timing Masuk"
                        />
                    </div>
                    <div class="col">
                        <label for="respon">Respon Time</label>
                        <input
                            type="time"
                            class="form-control"
                            name="responTime"
                            id="responTime"
                            placeholder="Respon Time"
                        />
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="timingStatus">Timing Status</label>
                        <input
                            type="time"
                            class="form-control"
                            name="timingStatus"
                            id="timingStatus"
                            placeholder="Timing Status"
                        />
                    </div>
                    <div class="col">
                        <label for="operator">Operator</label>
                        <input
                            type="text"
                            class="form-control"
                            name="operator"
                            id="operator"
                            value="<%=user.username %>"
                            placeholder="Operator"
                        />
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col">
                        <label for="diagnosa">Diagnosa</label>
                        <textarea
                            id="summernote"
                            name="diagnosa"
                            class=""
                            placeholder="Diagnosa"
                        ></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="keterangan">Keterangan</label>
                        <textarea
                            id="summernote1"
                            name="keterangan"
                            class=""
                        ></textarea>
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">
                            Tambah
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
