<!-- Modal -->
<div
  class="modal fade"
  id="add-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tambah User</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <!-- form  --> 
      <form action="/admin/user" method="POST" >
      <div class="modal-body">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              aria-describedby="emailHelp"
              placeholder="Enter Username"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              aria-describedby="emailHelp"
              placeholder="Enter password"
              required
            />
          </div>
          <div class="form-group">
            <select class="custom-select" id="role" name="role" >
                <option selected>Role</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Tambah</button>
        </form>
         <!-- end form -->
      </div>
    </div>
  </div>
</div>
